/******/

body{
	font-family: sans-serif;
	background-color: #dfe3ee;
	clear: both;
	
}

/***/
h1{
	margin-top: -20px;
	margin-left: 30px;
}

/****/
img{
	width: 320px;
	
}

/****/
#principal{
	float: left;
	padding: 50px;
	margin-top: 100px;
	margin-left: 200px;

}

/*****/
#lateral{
	float: right;
	width: 320px;
	height: 300px;
	background-color: #fff;
	padding: 50px;
	border-radius: 10px;
	margin-top: 100px;
	margin-right: 200px;
	text-align: center;
	
}

/*****/
.input{
	margin-left: -30px;
}

input{
	width: 350px;
	height: 40px;
	margin: 5px;
	border: 1px solid #dfe3ee;
	border-radius: 5px;
	padding: 5px;

}

.submit{
	color:#fff;
	background-color: blue;
	
}
/*****/
.esqueceu{
	color: blue;
 }
	

.criar{
	color: black;
	text-decoration: none;
	font-size: small;
}
span{
	font-size: small;
}

/****/
.bnt{
	width: 200px;
	height: 50px;
	background-color: green;
	border-radius: 5px;
	margin-left: 70px;
}

.conta{
	color: #fff;
	text-decoration: none;
	text-align: center;
	
}

/***/
#rodape{
	background-color: #fff;
	margin-top: 500px;
}